@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 100%;
  height: 100vh;
}

input {
  border: none;
  border-radius: 3px;
  height: 2rem;
  padding: 5px;
  margin: 0.4rem 0;
}

.main-header {
  background-color: #0f172a;
  margin: 0;
  padding: 2rem;
  font-family: "Monoton";
  text-transform: uppercase;
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
}

.main {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 0;
}

.main-left {
  width: 30%;
  background-color: #e2e8f0;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.main-preview {
  width: 40%;
  max-width: 800px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 900px;
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
}
.input-field {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  gap: 0.2rem;
}
footer {
  margin-top: 2rem;
  background-color: #0f172a;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: inherit;
}
.avatar {
  height: 200px;
  margin-bottom: 2rem;
  text-align: center;
  filter: grayscale(100%);
}

.header-container {
  background-color: #1e3a8a;
  color: #eff6ff;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.preview-container {
  display: flex;
  grid-row: 2 / 6;
  color: #09090b;
}

.preview-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background-color: #fafaf9;
}

textarea {
  height: 10rem;
  font-family: inherit;
}

.personal-info {
  padding-bottom: 1rem;
}

.personal-details {
  padding: 1rem;
  background-color: #d6d3d1;
  width: 40%;
  overflow: hidden;
}

.work-preview-details,
.school-preview-details {
  padding-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.work-preview-left,
.work-preview-right,
.school-preview-left,
.school-preview-right {
  flex: 1;
}

.work-preview-title,
.school-preview-name,
.school-preview-left,
.work-preview-left {
  font-weight: bold;
}

hr {
  border: 1px solid #09090b;
  border-radius: 5px;
  margin: 0.5rem 0;
}
.details {
  padding-bottom: 1rem;
}

.delete {
  background-color: #c62d1f;
  font-family: inherit;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;

  font-size: 14px;
  font-weight: bold;
  padding: 6px 30px;
  text-decoration: none;
  box-shadow: none;
  border: none;
}
.delete:hover {
  background-color: #f24437;
}
.delete:active {
  position: relative;
  top: 1px;
}
.add {
  background-color: #0da535;
  border-radius: 4px;
  font-family: inherit;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 30px;
  text-decoration: none;
  box-shadow: none;
  border: none;
}
.add:hover {
  background-color: #52ac26;
}
.add:active {
  position: relative;
  top: 1px;
}

.example-button {
  background-color: #3b3b3b;
  font-family: inherit;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 30px;
  text-decoration: none;
  box-shadow: none;
  border: none;
}
.example-button:hover {
  background-color: #3f3f3f;
}
.example-button:active {
  position: relative;
  top: 1px;
}

.clear-button {
  background-color: #3b3b3b;
  font-family: inherit;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 30px;
  text-decoration: none;
  box-shadow: none;
  border: none;
}
.clear-button:hover {
  background-color: #3f3f3f;
}
.clear-button:active {
  position: relative;
  top: 1px;
}
