@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 100%;
  height: 100vh;
}

input {
  width: 100%;
  border: 1px solid grey;
  border-radius: 3px;
  height: 2rem;
}

.main-header {
  background-color: grey;
  margin: 0;
  padding: 2rem;
  font-family: "Monoton";
  text-transform: uppercase;
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin-bottom: 2rem;
}

.main {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 0;
}

.main-left {
  width: 20%;
}

.main-preview {
  width: 40%;
  max-width: 800px;

  height: 900px;
}
.input-field {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
footer {
  margin-top: 2rem;
  background-color: grey;
  text-align: center;
}
.avatar {
  height: 200px;
  margin-bottom: 2rem;
  text-align: center;
}

.header-container {
  background-color: grey;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.preview-container {
  display: flex;
  height: 100%;
}

.preview-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background-color: silver;
}

textarea {
  height: 4rem;
}

.personal-info {
  padding-bottom: 1rem;
}

.personal-details {
  padding: 1rem;
  background-color: green;
}

.work-preview-details,
.school-preview-details {
  padding-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.work-preview-left,
.work-preview-right,
.school-preview-left,
.school-preview-right {
  flex: 1;
}

.work-preview-title,
.school-preview-name,
.school-preview-left,
.work-preview-left {
  font-weight: bold;
}

hr {
  border: 2px solid grey;
  border-radius: 5px;
  margin: 0.3rem 0;
}
